<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="compiled.css" />
  </head>

  <body>
    {{{contents}}}

    <footer>
      {{footer_text}}
    </footer>
  </body>
</html>
