<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/assets/pieces.css" />
</head>
<body>
  <%= yield %>

  <script src="/assets/pieces.js"></script>
</body>
</html>
