<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <style>
      <%= File.read('build/assets/critical.css') %>
    </style>

    <script>
      <%= File.read('build/assets/lazy.js') %>
    </script>

    <noscript>
      <link rel="stylesheet" href="/assets/lazy.css" />
    </noscript>
  </head>
  <body>
    <div class="page">
      <div class="page__content">
        <%= yield %>
      </div>
    </div>

    <script src="/assets/app.js"></script>
  </body>
</html>
