<article class="article_summary<%= modifier %>">
  <h2 class="article_summary__title">
    <%= article['title'] %>
    <%= article.title %>
  </h2>

  <div class="article_summary__except">
    <%= article['excerpt'] %>
  </div>
</article>
