<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'pieces' %>
    <%= javascript_include_tag 'pieces' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
